/* Targets everything */
* {
    background-color: teal;
    font-family: Arial, Helvetica, sans-serif;
}

/* fills the whole page */
html,
body {
    height: 100vh;
    margin: 0px;
}

/* centers title text */
h1 {
    text-align: center;
}

p
{
    text-align: center;
}

/* main flexbox */
.flex-grid {
    padding: 50px;
    border-color: black;
    border-style: double;
    /* height: 100%; */
    flex-grow: 1;
}

/* Each row */
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* last row */
.row.three {
    gap: 800px;
    justify-content: center;
    align-items: center;
}

/* puts each div in coloumn format */
.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* thrid row buttons */
.two {
    align-items: center;
    padding: 10px;
    flex: none;
    margin: 10px 0px 10px 0px;
}

/* answer boxes */
.subbox {
    position: relative;
    background-color: white;
    border-style: dashed;
    border-color: black;
    flex: 1;
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

/* moves the second box on left side down */
#one {
    margin-bottom: 200px;
}

/* green and red circles */
.check {
    position: absolute;
    height: 70px;
    width: 70px;
    margin: 0 auto;
    padding: 10px;
    z-index: 2;
    /* background-color: #bbb; */
    border-radius: 50%;
}

/* main pic in middle */
#motherboard {
    background-image: url(../images/motherboard.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-color: white;
    height: 610px;
    width: 1000px;
    flex: none;
}

/* sets the height and border for the components */
#components {
    height: 198px;
    border-color: black;
    border-style: solid;
    margin: 9px 0px;
}

/* sets direction and gap */
.comprow {
    flex-direction: row;
    gap: 4px;
}

/* components */
.funcomps {
    background-color: white;
    text-align: center;
    height: 100%;
    width: 100%
}

/* makes refresh icon bigger */
i {
    font-size: xx-large;
}

/* images for components */
#cpu {
    background-image: url(../images/CPU.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
}

#ram {
    background-image: url(../images/RAM.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
}

#psu {
    background-image: url(../images/PSU.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
}

#storage {
    background-image: url(../images/SSD.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
}

#gpu {
    background-image: url(../images/GPU.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
}