/* Targets everything */
* {
    background-color: teal;
    font-family: Arial, Helvetica, sans-serif;
}
/* fills the whole page */
html,body 
{ 
    height:100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/* centers title text */
h1
{
    text-align: center;
}

/* main flexbox */
.flex-grid
{
    padding: 50px;
    border-color: black;
    border-style: double;
    /* height: 100%; */
    flex-grow: 1;
}

.row 
{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;;
    column-gap: 5px;    
    width: 100%;
}

.row.three
{
    gap: 800px;
}

.column 
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.two
{
    align-items: center;
    padding: 10px;
    flex :none;
    margin: 10px 0px 10px 0px;
}

.border
{
    border-style: solid;
    border-color: black;
    height: 400px;
    width: 15px;
}

.subbox
{
    background-color: white;
    border-style: dashed;
    border-color: black;
    flex: 1;
}


#motherboard
{
    background-image: url(../images/wireframe.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
    height: 700px;
    width: 700px;
    border-color: black;
    border-style: solid;
    flex: none;
}

#components
{
    padding: 40px;
    border-color: black;
    border-style: solid;
    margin: 5px 0px;
}

.funcomps
{
    text-align: center;
    width: 12%;
    flex: 1;
}

i
{
    font-size: xx-large;
}

.column.comprow
{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}